.color-primario {
    color:$color-primario; 
}

.bck-color-primario {
    background:$color-primario; 
}

.bck-color-accion {
    background:$color-accion; 
}

.bck-color-gris {
     background-color:#f3f3f3;
}

.color-secundario {
    color:$color-secundario; 
}

.color-accion {
    color:$color-accion; 
}

.bck-color-secundario {
    background:$color-secundario; 
}

.color-negro {
    color:#111;
}

.bck-color-negro {
    background:#111; 
}

.color-blanco {
    color:#fff;
}

.bck-color-blanco {
    background:#fff; 
}

.color-negro-texto {
    color:#46464b;
}